<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/saveData" method="post">
      <legend>
        <label>email:</label>
        <input type="text" name="email" />
        <label>passWord:</label>
        <input type="text" name="pass" />
        <label>ReapeatPass:</label>
        <input type="text" name="rpw" />
        <label>userName:</label>
        <input type="text" name="name" />
      </legend>
      <button type="submit">save</button>
    </form>
  </body>
</html>
