<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/updateData/<%=dl.idPage %>/idUser/<%=dl.idUser %>"
      method="post"
    >
      <textarea name="dcr" id="" cols="80" rows="30">
<%=dl.description %></textarea
      >
      <button type="submit">save</button>
    </form>
  </body>
</html>
