<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <textarea name="" cols="80" rows="30">
<%= pageData.results.description %></textarea
      >
      <a href="/monitor/<%= pageData.idUser %>">house</a>
    </div>
  </body>
</html>
